RewriteEngine On
RewriteRule ^([^.]*)$ /egg-sgml/6/templates.php?t=%{REQUEST_URI} [QSA,END]

# Prevent external access to egg-sgml path and shipyard.txt.
RewriteRule ^egg-sgml/[0-9]+ / [R,END]
RewriteRule ^shipyard.txt$ / [R,END]

RewriteBase /