.w3-theme-l5 {color:#000 !important; background-color:#fff3ed !important}
.w3-theme-l4 {color:#000 !important; background-color:#ffd6c2 !important}
.w3-theme-l3 {color:#000 !important; background-color:#ffad85 !important}
.w3-theme-l2 {color:#fff !important; background-color:#ff8547 !important}
.w3-theme-l1 {color:#fff !important; background-color:#ff5c0a !important}
.w3-theme-d1 {color:#fff !important; background-color:#b83d00 !important}
.w3-theme-d2 {color:#fff !important; background-color:#a33600 !important}
.w3-theme-d3 {color:#fff !important; background-color:#8f3000 !important}
.w3-theme-d4 {color:#fff !important; background-color:#7a2900 !important}
.w3-theme-d5 {color:#fff !important; background-color:#662200 !important}

.w3-theme-light {color:#000 !important; background-color:#fff3ed !important}
.w3-theme-dark {color:#fff !important; background-color:#662200 !important}
.w3-theme-action {color:#fff !important; background-color:#662200 !important}

.w3-theme {color:#fff !important; background-color:#ce4300 !important}
.w3-text-theme {color:#ce4300 !important}
.w3-border-theme {border-color:#ce4300 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#ce4300 !important}
.w3-hover-text-theme:hover {color:#ce4300 !important}
.w3-hover-border-theme:hover {border-color:#ce4300 !important}

.nav .active { font-weight: bold; }
.nav .w3-button:hover {  background-color: inherit !important; }
.nav a.active:hover { background-color: #inherit !important; }
.nav .active { text-decoration: underline; }
.nav .ba div.w3-bar-item { float:none; display:inline-block;}
.nav .ba a.w3-button {text-align:left;padding-left:6em;}
.nav a.home { color: inherit!important; text-decoration:none;}
.nav a.version { float:right; text-decoration:none;}
.w3-show-large{display:none!important;}
@media (max-width:600px){.w3-show-large{display:block!important}
	.nav .ab a.w3-button { display: none!important; }
	.nav .ab a.active { display: block!important; }
	.nav a.w3-button {float:none;text-align:left;}
}
.nav .extra a { background-color: inherit!important; }

a { color:#ce4300; }
p { margin: 0.5em 0; }

.source { position: relative; padding: 0 0 1px 0; }
.source .tweakA { width: 50%; border-top: 1px solid #ce4300; }
.source .tweakB { position: absolute; bottom: 0; height: 1px; right: 0; width: 82%; border-bottom: 1px solid #ce4300; }
.source .tweakC { position: absolute; left: 8px; top: 0; height: 50%; width: 1px; border-left: 1px solid #ce4300; }
.source .tweakD { position: absolute; right: 8px; bottom: 0; height: 82%; width: 1px; border-right: 1px solid #ce4300; }
.scroll { margin-right: 2em; }

h1.silly .m { font-size: 90%; }
h1.silly .m1 { font-size: 90%; }
h1.silly .m2 { font-size: 90%; }
h1.silly .m3 { font-size: 90%; }
h1.silly .m4 { font-size: 90%; }
h1.silly .m5 { font-size: 90%; } 
h1.silly .m6 { font-size: 90%; font-weight: normal; }
h1.silly { font-size: 140%; margin: 0.2em 0 0; }
h1 { font-size: 140%; }
h2 { font-size: 130%; }
h1 { font-size: 140%; }

.w3-theme1-l4 {color:#000 !important; background-color:#dcd0ed !important}
/*
.w3-theme-l5 {color:#000 !important; background-color:#f5f1fa !important}
.w3-theme-l3 {color:#000 !important; background-color:#baa2dc !important}
.w3-theme-l2 {color:#fff !important; background-color:#9773ca !important}
.w3-theme-l1 {color:#fff !important; background-color:#7546b7 !important}
.w3-theme-d1 {color:#fff !important; background-color:#4f2f7b !important}
.w3-theme-d2 {color:#fff !important; background-color:#462a6d !important}
.w3-theme-d3 {color:#fff !important; background-color:#3d2460 !important}
.w3-theme-d4 {color:#fff !important; background-color:#341f52 !important}
.w3-theme-d5 {color:#fff !important; background-color:#2c1a44 !important}

.w3-theme-light {color:#000 !important; background-color:#f5f1fa !important}
.w3-theme-dark {color:#fff !important; background-color:#2c1a44 !important}
.w3-theme-action {color:#fff !important; background-color:#2c1a44 !important}

.w3-theme {color:#fff !important; background-color:#59358a !important}
.w3-text-theme {color:#59358a !important}
.w3-border-theme {border-color:#59358a !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#59358a !important}
.w3-hover-text-theme:hover {color:#59358a !important}
.w3-hover-border-theme:hover {border-color:#59358a !important}*/